@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #161513;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'FontPlusJakartaSans';
  src: url('./assets//fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  /* Add additional src lines if you have other font weights/styles */
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@layer utilities {
  .main-gradient {
    background: -webkit-linear-gradient(45deg, rgba(177,108,234,1) 0%, rgba(255,94,105,1) 33%, rgba(255,138,86,1) 66%, rgba(255,168,75,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}